@use 'partials/reset' as *;
@use 'partials/variables' as *;
@use 'partials/header' as *;
@use 'partials/loader' as *;
@use 'partials/group' as *;
@use 'partials/knockout' as *;
@use 'partials/bracket' as *;
@use 'partials/input' as *;
@use 'partials/champions' as *;
@use 'partials/navbar' as *;
@use 'partials/submit' as *;

body {
    font-family: $base-font;
    font-size: $base-font-size;
    color: $base-font-color;
    background: $background-color;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}