@import url('https://fonts.googleapis.com/css?family=Oxygen|Russo+One');

$background-color: rgb(112, 110, 110);
$base-font: "Oxygen", arial, sans-serif;
$base-font-size: 16px;
$base-font-color: #fff;

$title-font: 'Russo One', sans-serif;

$bracket-color: #6F5D25;